---
import BuildFooter from "../components/BuildFooter.astro";
import GlobalNoticeCenter from "../components/GlobalNoticeCenter.astro";
import "../styles/index.css";

interface Props {
  title?: string;
}

const { title = "ZhBlogs" } = Astro.props;
---

<!doctype html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="min-h-screen">
    <div class="flex min-h-screen flex-col">
      <slot />
      <BuildFooter />
    </div>
    <GlobalNoticeCenter />
  </body>
</html>
